[Unit]
Description=Modern Golang FileSystem like Server
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=$HOME/FileServer/fileserver --port ${PORT:-6040}
Restart=on-failure
User=$USER
WorkingDirectory=$HOME/FileServer

[Install]
WantedBy=multi-user.target
